{% extends "layout.html.twig" %}

{% block body %}

    <div class="accueil col-lg-12">
        <h1>Equipements</h1>
    </div>

    <a class="btn btn-success" href="{{ path('equipment_home_add') }}" role="button">Générer étiquette</a>



    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom de l'équipement</th>
            <th>Categorie</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for equipment in listequipments %}
            <tr>
                <td>{{ equipment.id }}</td>
                <td>{{ equipment.name }}</td>
                <td>{{ equipment.category }}</td>
                {#<td><a class="btn btn-danger" href="{{ path('room_home_delete', { 'id': room.id}) }}" role="button">Supprimer</a></td>#}

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}