{% extends "layout.html.twig" %}

{% block body %}

    <div class="well mt-5">
        <p>Choisissez une catégorie d'équipement et le nombre de code-barres désirés :</p>
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_widget(form.category) }}
        {{ form_widget(form.nombre) }}

        {{ form_row(form.save) }}

        {{ form_end(form) }}
    </div>

    <a class="btn btn-sm btn-outline-primary mt-5" href="{{ path('equipment_home') }}" role="button">Retour à la liste des équipements</a>

{% endblock %}